.general-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    position: fixed;
    bottom: 0;
    background: #ffffff;
}
.btn {
    width: 100%;
    height: 3rem;
    margin-top: 0.8rem;
    background: #00d1ce;
    border: none;
    border-radius: 2rem;
    font-size: 15px;
    color: #ffffff;
}
a:last-child {
    color: #5a6978;
    text-decoration: none;
    margin-top: 0.1rem;
    padding-bottom: 0.3rem;
}
.general-button span {
    font-size: 1.2rem;
    font-weight: 700;
}