.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position:fixed;
    bottom: 2rem;
}
.main-form select {
    appearance: none;
    width: 80%;
    height: 3.3rem;
    margin: 0.2rem;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #00d1ce;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    text-align-last: center;
    font-weight: bold;
}
.main a {
    width: 80%;
    text-align: center;
}
.main-form button {
    width: 100%;
    height: 3rem;
    margin-top: 0.8rem;
    background: #00d1ce;
    border: none;
    border-radius: 2rem;
    font-size: 15px;
    color: #ffffff;
}
