.rates {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
}
.plans {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    text-align: center;
}
.plans div {
    width: 29%;
    padding: 0.3rem;
    border: 1px solid #9ca5af;
    border-radius: 1rem;
}
.plans div label {
    color: #00d1ce;
}
.title {
    font-size: 0.9rem;
    font-weight: 800;
    margin: 0.5rem;
}
.tarifa {
    text-align: center;
}
.tarifa p {
    margin: 0;
}
.tarifa-total {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 800;
    color: #00d1ce;
}
.mensuales {
    color: #00d1ce;
    font-size: 1rem;
}
.ahorro {
    width: 90%;
    display: flex;
    justify-content: center;
}
.ahorro p:first-child {
    flex: 3;
}
.ahorro p:last-child {
    text-align: center;
    flex: 1;
    color: #00d1ce;
    font-weight: bolder;
}
.rates table {
    border-collapse: collapse;
}
.rates table th {
    background: #262b2d;
    color: #ffffff;
    width: 30%;
    padding: 0.3rem;
}
tr th:first-child {
    border-radius: 1rem 0 0 0;
}
tr th:last-child  {
    border-radius: 0 1rem 0 0;
}
.rates table td {
    height: 4rem;
    border-bottom: 1px solid #d8dbe1;
    font-size: 0.8rem;
    text-align: center;
}
tr td:first-child {
    border-left: 2px solid #d8dbe1;
}
tr td:last-child  {
    border-right: 2px solid #d8dbe1;
}
.rates table div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rates table td button {
    display: block;
    font-size: 0.7rem;
    color: #ffffff;
    background: #00d1ce;
    border: none;
    border-radius: 1rem;
}