.plans {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.74rem;
    text-align: center;
}
.plans div {
    width: 29%;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 1px solid #9ca5af;
    border-radius: 1rem;
    font-weight: 700;
}
.plans div label {
    color: #00d1ce;
}
.title {
    font-size: 0.9rem;
    font-weight: 900;
    margin: 0.5rem;
}
.p-info {
    margin: 0.3rem 0.5rem 1.5rem 0.5rem;
}
.tarifa {
    text-align: center;
}
.tarifa p {
    margin: 0;
}
.tarifa-total {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 800;
    color: #00d1ce;
}
.mensuales {
    color: #00d1ce;
    font-size: 1rem;
}
.ahorro {
    margin: 0.7rem 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}
.ahorro p:first-child {
    flex: 3;
}
.ahorro p:last-child {
    text-align: center;
    flex: 1;
    color: #00d1ce;
    font-weight: 900;
}